alias g="git"
alias c="clear"
alias q="exit 0"
alias copy="xclip -sel clip <"
alias out="shutdown now"

# substitutions
alias cat="bat"
alias vim="nvim"

# directories
alias dev="cd ~/Projetos"
alias cd..="cd .."
alias cd...="cd ../.."
alias cd....="cd ../../.."

# colors
alias ls="ls --color=auto"
alias grep="grep --color=auto"

# confirm before overwriting
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

windows() {
  sudo /bin/grub-reboot "Windows Boot Manager (em /dev/nvme0n1p1)" && /bin/reboot
}
