#!/bin/zsh

alias g="git"
alias c="clear"
alias q="exit 0"
alias dev="cd ~/Projetos"
alias out="shutdown now"
alias copy="xclip -sel clipboard <"

# substitutions
alias cat="bat"
alias vim="nvim"

# colors
alias ls="ls -lah --color=auto"
alias grep="grep --color=auto"

# confirm before overwriting
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"
