add_newline = true
format = """
$username\
$hostname\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$custom\
$cmd_duration\
$line_break\
$jobs\
$status\
$character"""


[character]
success_symbol = "[➜](bold green)"
error_symbol = "[➜](bold red)"

[cmd_duration]
min_time = 1_000
show_notifications = true
min_time_to_notify = 30_000

[git_commit]
tag_disabled = false

[git_metrics]
disabled = false

[status]
disabled = false

[username]
show_always = true
